body{
	background-color:#010101;
	font-family: 'Roboto', sans-serif;
}
h1{
	color:#f0ece2;
	text-align:center;
}
table {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    background:#f0ece2;
}
td{
    padding: 5px;
}
th{
    background:#D7D5D0;
    padding: 9px;
    text-align:center;
    font-weight: bold;
}

.uCT{
	text-align: center;
}